.inner {
    margin: 0;
    padding: 0;
    width: auto;
    height: 24.5;

}
ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 1800px;
    transform:translate(,90%);
    
}

ul li {
    list-style: none;
}

.inner {
    display: flex;
    align-items: center;
}

ul li a {
    text-decoration: none;
}

.sub_section_intro {
    height: 300px;
    background-color: black;
   
}

.sub_section_intro div {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background: url(//rmkcdn.successfactors.com/c4444335/d7ade7ef-39a0-487e-8b40-0.png) 50% 50% no-repeat;
    background-size: 100% ;
    height: 10;
    padding-top: 11.5%;    
}

.sub_section{
    height: 300px;
}

.sub_section_title{
    padding: 50px 0;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.29;
    color: #000;
}

.dt{
    font-size: 26px;
    line-height: 38px;
    color: #000;
}

.dd{
    max-width: 440px;
    padding: 20px 0 0;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: -0.5px;
    color: #666;
}